[submodule "themes/docdock"]
	path = themes/docdock
	url = https://github.com/simonxix/hugo-theme-docdock.git
[submodule "themes/kross-hugo"]
	path = themes/kross-hugo
	url = https://github.com/SimonXIX/kross-hugo
